<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly-additions.min.css">
  <title>CPE Issues Dashboard</title>
</head>
<body>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/js/patternfly.min.js"></script>
          
  <div class="container">
      <!-- start sidebar -->
    <div>

        <h4>Project list </h4>
        <ul class="nav nav-tabs">
            {% for project in projects %}
            <li>
                <a href="#{{ project.name }}">{{ project.name }}</a>
                
            </li>
            {% endfor %}
        </ul>

    </div>
    <!-- /start sidebar -->
    
        <div id="tabs">
            <div class="clear"></div>
            <div id="tabs-1">
                {% for project in projects %}
                {% if project.tickets %}
                <div class="main-page-section">
                    <h2><a href="{{ project.url }}" name="{{ project.name }}">{{ project.name }}</a></h2>
                    <table class="table table-striped table-bordered table-centered">
                        <thead>
                            <tr>
                                <th>Groomed</th>
                                <th>Assignee</th>
                                <th>In Progress</th>
                                <th>Assignee</th>
                            </tr>
                        </thead>
                    <tbody>
                        {% for ticket in project.tickets%}
                        <tr>
                            {% if ticket.tag == "groomed" %}
                            <td>
                                <a href="{{ ticket.url }}"> #{{ ticket.id }}</a>
                                {{ ticket.title|e }}
                            </td>
                            <td>
                                {{ ticket.assignee|e }}
                            </td>
                            <td></td>
                            <td></td>
                            {% else %}
                            <td></td>
                            <td></td>
                            <td>
                                <a href="{{ ticket.url }}"> #{{ ticket.id }}</a>
                                {{ ticket.title|e }}
                            </td>
                            <td>
                                {{ ticket.assignee|e }}
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
                {% endif %}
                {% endfor %}
                <p> Total: {{ticket_num}} tickets found </p>
            </div>
        </div>
       <div class="clear"></div>
    <p>Last update: {{date}}</p>
    </div>
</body>
</html>